/*last rule order*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div {
    min-height: 50vh;
    font-size: 20px;
    display: flex;
    color: ghostwhite;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.big-img {
    background: url("./img/coast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.small-img {
    border: 2px solid green;
    background: url("./img/city.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.folder-img {
    background: url("./img/eatout.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}